<h1>Formulaire d'ajout d'utilisateur</h1>

<form>

    <div class="form-group">
      <label for="nom">Entrez votre nom</label>
      <input type="text" class="form-control" id="nom" aria-describedby="nom" placeholder="Nom" required>
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="prenom">Entrez votre prenom</label>
        <input type="text" class="form-control" id="prenom" aria-describedby="prenom" placeholder="Prenoms" required>
        <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="numero">Entrez votre numéro</label>
        <input type="tel" class="form-control" id="numero" aria-describedby="numero-help" placeholder="Numéro de telephone" required>
        <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="nom">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
        <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Entrez votre mot de passe</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
    </div>
    
   <div class="button">
    <button type="submit" class="soumettre">Soumettre</button>
   </div>
  </form>
